#APP
APP_ENV = local
SECRET_KEY = your_secret_key

# POSTGRESQL
DB_HOST = localhost
DB_PORT = 5432
DB_NAME = DocuAI
DB_USER = postgres
DB_PASSWORD = Password123

# REDIS
REDIS_HOST = localhost
REDIS_PORT = 6379

# AWS 
AWS_REGION=us-east-1
AWS_S3_BUCKET=DocuAI-Bucket

# LLM
OPENAI_API_KEY=sk-...