# Python
.venv/
__pycache__/
*.pyc
*.pyo
.pytest_cache/
.ruff_cache/
dist/
*.egg-info/

# Environment
.env

# IDE
.vscode/
.idea/

# Docker
*.log

# Terraform
infrastructure/.terraform/
infrastructure/*.tfstate
infrastructure/*.tfstate.backup

# OS
.DS_Store

# terraform
infrastructure/.terraform/
infrastructure/*.tfstate
infrastructure/*.tfstate.backup
infrastructure/*.tfvars